.login-wrap{
    width: 420px;
    margin: 0 auto;
}
.input-label{
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}
.account-input{
    width: 100%;
}
.button-wrap {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
.form-button {
    background: dodgerblue;
    color:"#fff";
    padding: 8px 24px;
    font-weight: 500;
    cursor: pointer;
}